# Questions

## Q1 – Connect and Load Data

Connect to your local DuckDB database and load the `penguins` table into a pandas dataframe using Python.

In [ ]:
# TODO: Connect to DuckDB and load the penguins table into pandas

## Q2 – Count Penguins by Species

Query `penguins` to list each species alongside its row count, ordered from most to fewest records.

In [ ]:
# TODO: Write the SQL for Question 2

## Q3 – Average Body Mass by Island

Calculate the average `body_mass_g` for penguins on each island and round the result to the nearest gram.

In [ ]:
# TODO: Write the SQL for Question 3

## Q4 – Top Heaviest Penguins

Return the 10 heaviest penguins with their species, sex, island, and `body_mass_g`, ordered by mass descending.

In [ ]:
# TODO: Write the SQL for Question 4

## Q5 – Bill Metrics by Species and Sex

Compute the average `bill_length_mm` and `bill_depth_mm` for each combination of species and sex, excluding rows where sex is NULL.

In [ ]:
# TODO: Write the SQL for Question 5

## Q6 – Flipper Length Change by Year

For each species, calculate the average `flipper_length_mm` by year and add a column showing the change from the previous year.

In [ ]:
# TODO: Write the SQL for Question 6

## Q7 – Missing Body Mass Share

For each species, compute the percentage of records with NULL `body_mass_g`.

In [ ]:
# TODO: Write the SQL for Question 7

## Q8 – Average Tip Percentage by Day and Time

Using the `tips` table, calculate the average tip percentage (`tip / total_bill`) for each combination of `day` and `time`.

In [ ]:
# TODO: Write the SQL for Question 8

## Q9 – Top Tip Percentages

Return the five rows with the highest tip percentage, showing `total_bill`, `tip`, `size`, and the calculated percentage. Break ties by higher `total_bill`.

In [ ]:
# TODO: Write the SQL for Question 9

## Q10 – Smoker and Sex Comparison

Compute the average tip percentage for each grouping of `smoker` status and `sex`, including the number of meals in each group.

In [ ]:
# TODO: Write the SQL for Question 10

## Q11 – Party Size Revenue Summary

Summarize the `tips` data by party `size`, returning the count of bills, total `total_bill`, average `tip`, and average tip percentage.

In [ ]:
# TODO: Write the SQL for Question 11

## Q12 – Highest Median Total Bill Day

Calculate the median `total_bill` for each `day` and identify the day(s) with the highest median.

In [ ]:
# TODO: Write the SQL for Question 12

## Q13 – Rank Tip Percentage Within Day

Within each `day`, rank meals by tip percentage using `DENSE_RANK`, retaining `total_bill`, `tip`, and the computed rank.

In [ ]:
# TODO: Write the SQL for Question 13

## Q14 – Overall Survival Rate

From the `titanic` table, compute the overall survival rate as the percentage of passengers where `survived = 1`.

In [ ]:
# TODO: Write the SQL for Question 14

## Q15 – Survival by Class and Sex

Calculate the survival rate for each combination of passenger class (`pclass`) and `sex`.

In [ ]:
# TODO: Write the SQL for Question 15

## Q16 – Average Age by Survival and Class

Determine the average age for survivors and non-survivors within each `pclass`, excluding rows with NULL `age`.

In [ ]:
# TODO: Write the SQL for Question 16

## Q17 – Large Family Proportion

Create a `family_size` metric as `sibsp + parch + 1` and compute the percentage of passengers with `family_size > 3`.

In [ ]:
# TODO: Write the SQL for Question 17

## Q18 – Survival by Embarkation Town

Report the survival rate for each `embark_town`, along with the passenger count per town, ordered by survival rate descending.

In [ ]:
# TODO: Write the SQL for Question 18

## Q19 – Survival by Age Bucket

Group passengers into age buckets (0-12, 13-17, 18-29, 30-49, 50+) and compute the survival rate in each bucket.

In [ ]:
# TODO: Write the SQL for Question 19

## Q20 – Fare and Age Correlation

Calculate the correlation coefficient between `fare` and `age`, ignoring rows where either value is NULL.

In [ ]:
# TODO: Write the SQL for Question 20